{% extends "base.html.twig" %}
{% block title%}
    Redirection
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Malheureusement, la liste a laquelle vous essayés d'accéder n'existe pas ou a été supprimé</h1>
    <h4>Retour a <a href=" {{ path('listes') }} ">la page de gestion des listes</a></h4>
{% endblock %}
