{% extends "base.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
        </div>
        <h1>Ajout d'une tâche</h1>
        <hr />
        <b><i>Vous serez rediriger sur la liste que vous avez séléctionner</i></b>
        {{ include('tache/formulaireTache.html.twig')}}
        <p>
        <a href="{{ path('tache') }}" class="btn btn-outline-primary">
            <i style="text-align:center;">Retour aux taches</i>
        </a>
    </div>
</html>
{% endblock %}