{% extends "base.html.twig" %}
{% block title%}
    Redirection
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Malheureusement, la tâche a laquelle vous essayez d'accéder n'existe pas ou a été supprimé</h1>
{% endblock %}