{% extends "base.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="pull-right">
        </div>
        <h1>Modification de la tache {{ tacheModification.Nom }}</h1>
        <hr />
        {{ include('tache/formulaireTache.html.twig')}}
        <p>
        <a href="{{ path('tache') }}" class="btn btn-outline-primary">
            <i class="glyphicon glyphicon-chevron-left">Retour aux taches</i>
        </a>
    </div>
</html>
{% endblock %}